<div class="row">
    <div class="row main align-items-center">
        <div class="col-2"><img class="img-fluid" [src]="cart.image"></div>
        <div class="col">
            <div class="row text-muted">{{cart.title}}</div>
            <div class="row">{{cart.subtitle}}</div>
        </div>
            <div class="col d-flex quantity">
                <div class="count"> 
                <button class="decrement" (click)="decrement(cart.isbn13)">-</button>
                    <input type="number" class="quantity-value" [(ngModel)]="quantity" (change)="updateQuantity(cart.isbn13)" min="1" max="1000">
                    <button class="increment" (click)="increment(cart.isbn13)">+</button>
                </div>
            </div>
        <div class="col price">{{cart.price|change_currency:quantity}}<span class="close" style="cursor: pointer;" (click)="removeBook(cart.isbn13)">&#10005;</span>
        </div>
    </div>
    <hr/>
</div>

