<div class="row">
    <div class="row main align-items-center">
        <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/ba3tvGm.jpg"></div>
        <div class="col">
            <div class="row text-muted">Shirt</div>
            <div class="row">Cotton T-shirt</div>
        </div>
            <div class="col d-flex quantity">
                <div class="count"> 
                <button class="decrement" (click)="decrement()">-</button>
                    <input type="number" class="quantity-value" [(ngModel)]="count" (change)="updateQuantity()" min="1" max="1000">
                    <button class="increment" (click)="increment()">+</button>
                </div>
            </div>
        <div class="col price">&euro; 44.00<span class="close" (click)="removeBook()">&#10005;</span>
        </div>
    </div>
</div>