<div class="container  mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="row">
          <div class="col-md-4">
            <div class="images p-3">
              <div class="text-center p-4">
                <img
                  id="main-image"
                  [src]="bookDetails.image"
                  width="250"
                />
              </div>
            </div>
          </div>
          <div class="col-md-8 mt-5">
            <div class="product p-4">
             
              <div class="mt-4 mb-3">
                  <h5 class="text-uppercase" class="text">title : {{bookDetails.title }} ({{ bookDetails.year}})</h5>
                <span class="text-uppercase text-muted brand" class="text">authors : {{bookDetails.authors}}</span>
                <div class="price d-flex flex-row align-items-center">
                  <div class="ml-2">
                    <strong class="text">price : {{bookDetails.price|change_currency:1}}</strong>
                  </div>
                </div>
                <span class="text-uppercase  brand" class="about">pages : {{bookDetails.pages}}</span>
              </div>
              <p class="about">
                subtitle : {{bookDetails.desc}}.
              </p>
              
              <div class="cart mt-4 align-items-center">
                <button [disabled]="bookDetails.addedToCart" (click)="addToCart(bookDetails)" class="btn button text-uppercase mr-2 px-4">
                  Add to cart
                </button>
                <a  href="{{bookDetails.url}}" class="btn button text-uppercase mr-2 px-4">
                  more details
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
