<div class="container  mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <div class="images p-3">
              <div class="text-center p-4">
                <img
                  id="main-image"
                  [src]="bookDetails.image"
                  width="250"
                />
              </div>

              <div class="thumbnail text-center">
                <a  href="https://itbook.store/files/9781617291609/chapter1.pdf"  class="btn button text-uppercase mr-2 px-4">
                    pdf 1
                </a>
                  <a  href="https://itbook.store/files/9781617294136/chapter5.pdf" class="btn button text-uppercase mr-2 px-4">
                    pdf 2
                  </a>
                
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-5">
            <div class="product p-4">
             
              <div class="mt-4 mb-3">
                  <h5 class="text-uppercase" class="text">title : {{bookDetails.title}}</h5>
                <span class="text-uppercase text-muted brand" class="text">authors : {{bookDetails.authors}}</span>
                <div class="price d-flex flex-row align-items-center">
                  <div class="ml-2">
                    <strong class="text">price : {{bookDetails.price|change_currency:1}}</strong>
                  </div>
                </div>
              </div>
              <p class="about">
                subtitle : {{bookDetails.desc}}.
              </p>
              
              <div class="cart mt-4 align-items-center">
                <button (click)="addToCart(bookDetails)" class="btn button text-uppercase mr-2 px-4">
                  Add to cart
                </button>
             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
