<header class="header" >
    <div class="header-1">
      <a class="logo" style="cursor: pointer;" [routerLink]="'/home'"><i class="fas fa-book"  ></i> bookly</a>
      <form *ngIf="!(router.url === '/cart' || router.url === '/404') " action="" class="search-Form" [ngClass]="{ 'active': searchActive }">
        <input type="search" placeholder="search here..." id="search-box" />
        <label for="search-box" class="fas fa-search"></label>
      </form>
      <div class="icons">
        <div id="search-btn" (click)="showSearch()" class="fas fa-search"></div>
        <a class="fas fa-shopping-cart" [routerLink]="'/cart'"></a>
        <span class="cart-count" [routerLink]="'/cart'" *ngIf="cartItemCount > 0">{{ cartItemCount }}</span>
      </div>
    </div>
    <div class="header-2" [ngClass]="{ 'active': headerActive }">
      <nav class="navbar">
        <a [routerLink]="'/'">home</a>
        <a [routerLink]="'/books'">Books</a>
        <a>arrivals</a>
        <a>reviews</a>
        <a>contact</a>
      </nav>
    </div>
  </header>
