<div class="footer">
    <div class="social-media-icons">
        <a ><i class="fab fa-facebook-square"></i></a>
        <a ><i class="fab fa-instagram-square"></i></a>
        <a ><i class="fab fa-twitter-square"></i></a>
        <a ><i class="fab fa-youtube-square"></i></a>
    </div>
    <div class="list-items">
        <div class="column">
            <a >Audio and Subtitles</a>
            <a >Media Centre</a>
            <a >Privacy</a>
            <a >Contact Us</a>
        </div>
        <div class="column">
            <a >Audio Description</a>
            <a >Investor Relations</a>
            <a >Legal Notices</a>
        </div>
        <div class="column">
            <a >Help Centre</a>
            <a >Jobs</a>
            <a >Cookie Preferences</a>
        </div>
        <div class="column">
            <a >Gift Cards</a>
            <a >Terms of Use</a>
            <a >Corporate Information</a>
        </div>
    </div>
    <div class="service-button">
        <button>Service Code</button>
    </div>
    <div class="copyright">
        <p>Copyright@Hamras2022</p>
    </div>
</div>